*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-size: 24px;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: grey;
    height: 10vh;
}

.container{
height: 80vh;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}

.book-container{
border: 1px solid black;
display: grid;
grid-template-columns: repeat(03, 1fr);
}


/* style regarding the form */

.add-book{
    border-radius: 5px;
    font-size: 0.8em;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.add-book-form{
    background-color: grey;
    height: auto;
    width: min-content;
    padding: 15px;
    display: none;
    position: absolute;
}